@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Papano's Pizza</h1>
    <p class="lead">Insert Calander Thingy Here</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            Recent customer info here
        </p>
    </div>
    <div class="col-md-4">
        <h2>Promotions</h2>
        <p>Recent or current Promotions here</p>
    </div>
    <div class="col-md-4">
        <h2>Orders</h2>
        <p>Recent orders here</p>
    </div>
</div>