@model CIT280_Capstone.Models.Customer

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Papano's Pizza</h1>
    <p class="lead">
        20 years of A.Papano's Pizza Perfection.
    </p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-1 well">
        <h2>Recently Active Customers</h2>
        <p>Select a customer to view their details.</p>
        @{Html.RenderAction("SmallCustomerDetails", "Customers");}
    </div>
    <div class="col-md-4 col-md-offset-2 well">
        <h2>Most Recent Orders</h2>
        <p>View the details by selecting the order below.<p>        
        @{Html.RenderAction("SmallOrderDetails", "Orders");}
    </div>
</div>