body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background:#e93b35 url(download.jpg) top left repeat-x;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.search-bar{
    width:75%;
}
.search-bar input{
    max-width:100%;
}

#searchContainer{
    width:250px;
    margin-left:auto;
    margin-right:auto;
}

td {
   text-align: center;
}

.table .table-header, .table .table-header a {
    text-align: center;
    vertical-align: middle;
}

table tr td a {
    display: block;
    height: 100%;
    width: 100%;
    color: rgb(51,51,51);
    font-size: 18px;
    text-decoration: none !important;
}
.table-link, .table-link a :hover {
    color: rgb(51,51,51) !important;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    padding: 0px;
    /*line-height: 1.42857;*/
    line-height: 2;
    vertical-align: middle;
    border-top: 1px solid rgb(221,221,221);
}

.table tbody tr:hover td{
    background-color: rgb(221,221,221);
}