@model IEnumerable<CIT280_Capstone.Models.Order>
<div class="col-md-8 col-md-offset-2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-6">
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    Delivery
                </th>
            </tr>
        </thead>
        <tbody>
              
            @foreach (var item in Model)
            {
                <tr data-toggle="collapse" data-target="#subItems@(item.ID)">
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @if (item.DeliveryAddressID != null) {<p>Yes</p>}
                        else { <p>No</p> } 
                    </td>
                </tr>
                <tr >
                    <td class="collapse well" id="subItems@(item.ID)" colspan="3">
                        @{Html.RenderAction("LineItemsPerOrder", "Orders", new { id = item.ID });}
                    </td>
                </tr>
                  
            }
        </tbody>
    </table>
</div>