@model IEnumerable<CIT280_Capstone.Models.Order>

<table class="table">
    <tr>
        <th class="table-header">
            @Html.DisplayNameFor(model => model.ID)
        </th>

        <th class="table-header">
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>

    </tr>
}

</table>
